<div id="slickQuiz-field-{{entity_type}}-{{entity_id}}-{{field_name}}-{{delta}}" class="slickQuiz-field">
    {#<h2 class="quizName"></h2>#}
    <div class="quizArea">
        <div class="quizHeader">
            <a class="startQuiz" href="">{{ "Start quiz!"|t}}</a>
        </div>
    </div>
    <div class="quizResults">
      <div class="results">
        <h3 class="quizScore">{{ "You have got"|t }} <span></span></h3>
        <h3 class="quizLevel"><span></span></h3>
        <div class="quizResultsCopy"></div>
      </div>
    </div>
</div>
